<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="about.html">About</a><br />
      <a href="products">Products</a><br />
      <a href="products/addproduct">Add product</a>
    </nav>
  </body>
</html>
